pandas==2.2.3
numpy
boto3==1.35.53
yfinance==0.2.41
beautifulsoup4
statsmodels==0.14.4
scikit-learn==1.5.1
openpyxl
mlflow==2.16.2
pyarrow==17.0.0
optuna==3.6.1
hmmlearn==0.3.3
xgboost==2.1.2
snowflake-connector-python==3.11.0
ta==0.11.0
pytrends==4.9.2
dbt-core==1.8.7
dbt-snowflake==1.8.4
requests==2.31.0
