pandas
numpy
boto3
yfinance==0.2.41
beautifulsoup4
matplotlib
statsmodels
scikit-learn
plotly
openpyxl
mlflow==2.16.2
pyarrow
optuna==3.6.1
hmmlearn
xgboost
snowflake-connector-python==3.11.0
ta==0.11.0
pytrends
dbt-core
dbt-snowflake
requests
