pandas
numpy
boto3
tqdm
yfinance==0.2.41
beautifulsoup4
matplotlib
statsmodels
scikit-learn
plotly
openpyxl
pyyaml
mlflow==2.16.2
pyarrow
pandas-datareader
optuna==3.6.1
hmmlearn
apache-airflow==2.10.3
apache-airflow-providers-postgres
apache-airflow-providers-mysql
xgboost
snowflake-connector-python
ta
pytrends
requests
pytest
pytest-cov