pandas
numpy
tqdm
yfinance
beautifulsoup4
matplotlib
statsmodels
scikit-learn
plotly
openpyxl
pyyaml
mlflow==2.16.2
pyarrow
pandas-datareader
optuna==3.6.1
hmmlearn
xgboost
snowflake-connector-python
ta
pytrends
